html {
    margin: 0;
    padding: 0;
    background-color: rgb(41, 41, 41);
}

body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100vw;
    height: min(12vh, 15vw);
    background-color: rgb(66, 66, 66);
}

.header div {
    display: inline-block;
}

.header img {
    height: min(10vh, 12.5vw);
    padding: min(1vh, 1.25vw);
    padding-right: 0;
}

a {
    text-decoration: none;
}

.menu:hover .menuDrop {
    top: min(11vh, 13.75vw);
    left: min(20vh, 25vw);
    border: min(2vh, 2vw) solid rgb(66, 66, 66);
    border-radius: min(1vh, 1.25vw);
    position: absolute;
    display: block;
    background-color: rgb(66, 66, 66);
    padding: 0;
    z-index: 99;
}

.menuDrop img {
    padding: 0;
}

#home {
    width: min(21vh, 26.25vw);
}

.menu .menuDrop {
    display: none;
}

.menu img {
    width: min(21vh, 26.25vw);
}

.menu .menuDrop img {
    height: min(5vh, 6.25vw);
    padding: min(1vh, 1.25vw);
    padding-bottom: 0;
}

.socials {
    float: right;
    padding: min(1vh, 1.25vw);
}

.socials img {
    width: min(8vh, 10vw);
    padding: min(1vh, 1.25vw);
    height: min(8vh, 10vw);
}

.header img:hover {
    filter: drop-shadow(3px 0px 3px rgb(31, 31, 31))
}

#twitter-widget-0 {
    margin: min(1vh, 1.25vw) !important;
}