.sidebar {
    width: min(32vh, 40vw);
    height: calc(100vh - min(12vh, 15vw));
    display: inline-block;
    background-color: rgb(90, 89, 89);
    z-index: 50;
    position:absolute;
    right:0;
    bottom:0;
}

.content {
    background-color: rgb(41, 41, 41);
    width: calc(100vw - min(32vh, 40vw));
    height: calc(100vh - min(12vh, 15vw));
    padding:0;
    margin:0;
    padding-top:min(12vh, 15vw);
    z-index: 50;
}
/* Content w/ sidebar */