.header {
    height: 8vh;
    width: 100vw;
    padding: 0;
    margin: 0px;
    background-color: rgb(133, 133, 133);
}

.leftButtons {
    position: absolute;
    left: 0;
    height: 7vh;
    padding-right: 0;
}

.rightButtons {
    position: absolute;
    right: 0;
    height: 7vh;
    padding-right: 0;
}

#home {
    width: 7vh;
    padding: 0.5vh;
    padding-right: 0;
}

#about {
    width: 7vh;
    padding: 0.5vh;
    padding-right: 0;
}

#support {
    width: 7vh;
    padding: 0.5vh;
    padding-right: 0;
}

#contact {
    width: 7vh;
    padding: 0.5vh;
    padding-right: 0;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}